@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;800&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap-grid.min.css");
@import url("reset.css");

/*==================== VARIABLES CSS ====================*/

@mixin centerAll {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin centerX {
    display: flex;
    justify-content: center;
}

@mixin centerY {
    display: flex;
    align-items: center;
}

:root {
    --main-color: #fff;
    --primary-color: #3095d7;
    --primary-color-faded: rgba(107, 155, 209, 0.6);
    --secondary-color: #FFB830;
    --text-color: #000;
    --disabled-text: #898f9d;
    --bg-color: #f0f0f0;
    --border-radius: 6px;
    --shadow-default: 0 0 5px 3px rgba(0, 0, 0, 0.1);
    --shadow-hover: 0 0 5px 3px var(--primary-color-faded);
}

::selection {
    background: var(--primary-color);
    color: #fff;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    // box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 4px;
    // border: 1px solid rgb(35, 21, 44)
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

a {
    outline: none;
    text-decoration: none;
}

p {
    line-height: 1.2;
}

/* Font size for large devices */

body {
    font-family: 'Cairo', sans-serif;
    font-size: 16px;
    text-transform: capitalize;
    overflow-x: hidden;
}

.page-container {
    position: relative;
}

.not-footer {
    padding-bottom: 75px;
}

header {
    position: relative;
    padding: 0px 10px;
    padding-bottom: 50px;
    @include centerAll();

    a {
        transition: 0.15s all linear;
    }

    nav.navbar {
        background: #f8f8f8;
        width: 100%;
        padding: 0px 60px;
        height: 50px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99999;
        @include centerY();
        justify-content: space-between;
        border-bottom: 1px solid #7e7e7e;

        .logo {
            font-size: 24px;
            font-weight: bold;
            // text-transform: uppercase;
            text-transform: capitalize;
            text-decoration: none;
            color: var(--primary-color);

            &:hover {
                color: var(--text-color);
            }
        }

        ul {
            display: flex;
            gap: 0px 14px;

            li {
                &:hover {
                    a::before {
                        width: 100%;
                        background-color: #0071dc;
                        left: 0;
                        right: auto;
                    }
                }

                a {
                    font-size: 18px;
                    text-decoration: none;
                    position: relative;
                    color: var(--text-color);

                    &:hover {
                        color: var(--primary-color);
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        left: auto;
                        right: 0;
                        bottom: 0;
                        height: 2px;
                        width: 0;
                        background: currentColor;
                        transition: all .18s cubic-bezier(0.645, 0.045, 0.355, 1);
                    }
                }
            }
        }
    }
}

main {
    section {
        margin: 38px 0px;
        padding: 18px 0px;
        position: relative;
        overflow: hidden;

        &.banner {
            background: #f8f8f8;

            width: 100%;
            height: 90vh;
            position: relative;
            overflow: hidden;
            margin: 0;
            padding: 0;
            background-repeat: no-repeat;
            background-image: url("../assets/pattern-curve.svg");
            background-position: bottom left;

            .layer {
                position: absolute;
                bottom: 0;
                z-index: 10;
                width: 100%;
                height: 100%;
                text-align: center;
                @include centerAll();
                font-size: 100px;
                font-weight: 800;
                // background: #0000001c;
            }

            .banner-title {
                width: 50%;

                span {
                    color: var(--primary-color);
                }
            }

            img.banner-image {
                position: absolute;
                z-index: 10;
                box-shadow: var(--shadow-default);
            }

            img {
                &.banner-image01 {
                    width: 12vw;
                    max-width: 12vw;
                    top: 30%;
                    left: 6%;
                    border-radius: 40px 10px 40px 10px;
                }

                &.banner-image02 {
                    width: 12vw;
                    max-width: 12vw;
                    top: 4%;
                    right: 6%;
                    border-radius: 10px 40px 40px 10px;
                }

                &.banner-image03 {
                    width: 12vw;
                    max-width: 12vw;
                    bottom: 6%;
                    left: 19%;
                    border-radius: 40px 10px 40px 10px;
                }

                &.banner-image04 {
                    width: 12vw;
                    max-width: 12vw;
                    bottom: 9%;
                    right: 20%;
                    border-radius: 40px 10px 40px 10px;
                }
            }
        }

        &.phases {
            .phases-container {
                @include centerX();
                flex-direction: row;
                flex-wrap: wrap;
                gap: 28px;
                padding: 18px 0px;
            }

            .phase {
                border: 1px solid #9a9999;
                color: #fff;
                @include centerAll();
                flex-direction: column;
                gap: 12px;
                padding: 20px 10px;
                text-align: center;
                transition: all .15s linear;
                width: calc(50% - 24px);

                * {
                    transition: inherit;
                    color: var(--disabled-text);
                }


                .phase-title {
                    font-size: 28px;
                    color: var(--primary-color);
                }

                .icon {
                    font-size: 74px;
                }

                .phase-description {
                    font-size: 16px;
                }

                &:hover {
                    border-color: var(--primary-color);

                    * {
                        color: var(--primary-color);
                    }

                    .phase-description {
                        color: #0f0e0d;
                    }
                }
            }
        }

        &.services,
        &.reasons {
            background: #eff5f7;


            .shape-wrapper {

                img {
                    &.blob1 {
                        top: auto;
                        left: auto;
                        right: -50px;
                        bottom: -20px;
                    }

                    &.blob2 {
                        top: -70px;
                        right: auto;
                        left: 100px;
                        bottom: auto;
                    }
                }
            }

            .services-container,
            .reasons-container {
                @include centerAll();
                flex-wrap: wrap;
                gap: 24px 12px;
                margin-top: 28px;
                position: relative;
                z-index: 5;
            }

            .service,
            .reason {
                width: calc(33% - 6px);
                @include centerAll();
                flex-direction: column;
                gap: 12px;
                text-align: center;

                .service-icon,
                .reason-icon {
                    display: inline-block;
                    position: relative;
                    font-size: 80px;
                    color: var(--primary-color);
                    line-height: 50px;

                    &::before {
                        position: absolute;
                        width: 70px;
                        height: 70px;
                        border-radius: 100%;
                        content: "";
                        background: #e9ecf4;
                        right: -15px;
                        top: 12px;
                        z-index: -1;
                    }

                    i {}
                }

                .service-title,
                .reason-title {
                    font-size: 22px;
                    font-weight: 600;
                    color: var(--primary-color);
                }

                p {
                    color: var(--disabled-text);
                    min-height: 50px;
                    padding: 0 15px;
                }
            }
        }

        &.events {
            .swiper {
                width: 75%;
                padding: 26px;
                margin: 20px auto;

                .card {
                    @include centerY();
                    flex-direction: column;
                    gap: 20px;
                    width: 280px;
                    height: 380px;
                    background: #f8f8f8;
                    box-shadow: var(--shadow-default);
                    transition: .15s all ease-in-out;

                    &:hover {
                        background: #fff;
                        box-shadow: var(--shadow-hover);

                        .image-container {
                            img {
                                transform: scale(1.1);
                            }
                        }
                    }

                    .image-container {
                        width: 100%;
                        overflow: hidden;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            transition: .16s all linear;
                        }
                    }

                    .event-name {
                        font-size: 24px;
                        text-align: center;
                        padding: 0px 10px;
                        color: #000;
                    }

                    .location {
                        display: flex;
                        gap: 6px;
                        font-size: 18px;
                    }
                }
            }
        }

        &.blogs {
            .blogs-container {
                @include centerX();
                align-items: flex-start;
                flex-wrap: wrap;
                gap: 20px 22px;
                margin: 18px auto;
            }

            .blog {
                width: calc(33% - 20px);
            }

            .card {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 10px;
                text-align: center;
                transition: .23s all ease-in-out;
                box-shadow: var(--shadow-default);
                border-radius: 5px;

                &:hover {
                    box-shadow: var(--shadow-hover);

                    img {
                        transform: scale(1.1);
                    }
                }

                .image-container {
                    width: 100%;
                    height: 280px;
                    overflow: hidden;
                    border-top-left-radius: inherit;
                    border-top-right-radius: inherit;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-top-right-radius: inherit;
                        border-top-left-radius: inherit;
                        transition: all .4s cubic-bezier(0, 0, 0.2, 1);
                    }
                }

                .content {
                    padding: 15px 10px 30px;
                    line-height: 1.3;
                }

                .blog-title {
                    font-size: 26px;
                    font-weight: 900;
                    margin-bottom: 18px;
                }

                .article {
                    margin-top: 8px;
                    margin-bottom: 0;
                    color: var(--disabled-text);
                }
            }
        }

        &.reasons {
            // background: initial;
        }

        &.videos {
            .videos-container {
                @include centerX();
                flex-wrap: wrap;
                gap: 24px 18px;
                margin-top: 16px;

                .video {
                    width: calc(33% - 10px);
                    height: 270px;

                    iframe {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

        &.presentation {
            background: #eff5f7;

            .row {
                margin: 20px 0px;

                .image-container {
                    width: 100%;
                    height: 100%;
                    @include centerAll();

                    img {
                        width: 360px;
                        height: 320px;
                        object-fit: cover;
                        border-radius: 20px 8px 20px 8px;
                    }

                }

                .text {
                    width: 100%;
                    height: 100%;
                    @include centerY();
                    text-align: center;
                    line-height: 1.3;

                    h1 {
                        font-size: 36px;
                        font-weight: 900;
                    }

                    span {
                        color: var(--primary-color)
                    }
                }
            }
        }
    }

    .register {
        @include centerX();
    }

    .register-wrap {
        position: relative;
        background: #f8f8f8;
        border-radius: 10px;
        padding: 38px;
        margin: 20px 0px;
        box-shadow: var(--shadow-default);
        overflow: hidden;

        .shape-wrapper {


            img {
                &.blob1 {
                    top: auto;
                    left: auto;
                    right: -30px;
                    top: 7%;
                }

                &.blob2 {
                    top: auto;
                    right: auto;
                    left: -110px;
                    bottom: 100px;
                }
            }
        }

        h3 {
            font-weight: 700;
            font-size: 20px;
            color: var(--primary-color);
        }

        .icon {
            width: 60px;
            height: 60px;
            background: var(--primary-color);
            border-radius: 50%;
            font-size: 26px;
            margin: 10px auto;
            @include centerAll();

            i {
                color: #fff;
            }
        }

        .text {
            /* padding: 0.79rem 1rem; */
            border: solid 1px;
            border-radius: 4px !important;
            display: inline-flex;
            align-items: baseline;
            justify-content: flex-start;
            width: 100%;
            color: initial;
            overflow: hidden;

            input {
                width: 100%;
                line-height: 2;
                border: none;
            }

            i {
                color: var(--primary-color);
            }

            select {
                width: 100%;
                height: 100%;
            }

            input,
            select,
            i {
                height: 100%;
                border: none;
                padding: 5px;
                outline: none;
                font-size: 18px;
                direction: inherit;
                @include centerAll();
            }
        }

        form {

            .text,
            .massege {
                margin: 8px 0px;
                width: 100%;
            }

            textarea {

                background-color: transparent;
                color: #4c4949;
                font-size: 13px;
                font-family: "Montserrat", sans-serif;
                border: #000 solid 1px;
                border-radius: 4px;
                padding: 8px 15px;
                width: 100%;
                max-width: 100%;
                min-height: 150px;
                max-height: 500px;
                margin: 0 0 5px;
                resize: vertical;
                outline: none;
                font-size: 18px;
            }

            .form-group {
                margin: 20px 0px;
                position: relative;
                height: unset;
                display: flex;
                justify-content: space-between;

                &.two-inputs {

                    .text,
                    .dropdown-container {
                        width: calc(50% - 10px);
                        @include centerAll();
                        margin: auto;
                    }
                }

                .text {
                    height: 48px;
                    margin: 3px 0px;
                    background: #f8f8f8;
                    border: 1px solid #eaeaea;
                    box-shadow: none;
                    display: flex;

                    >input {
                        flex: 1;
                    }

                    i {
                        font-size: 22px;
                        padding: 5px 7px;
                    }

                    &.store-link {
                        input[type="text"] {
                            direction: ltr;
                        }

                        span {
                            color: #000000ad;
                            font-size: 18px;
                            padding: 0px 6px;
                            direction: ltr;
                        }
                    }

                    input#phone {
                        width: 100%;
                    }

                }

                button.btn.submit {
                    width: 180px;
                    height: 40px;
                    border: 1px solid var(--primary-color);
                    border-radius: 4px;
                    background: var(--primary-color);
                    box-shadow: var(--shadow-default);
                    color: #fff;
                    transition: .15s all linear;
                    margin: 10px auto;
                    font-size: 20px;

                    &:hover {
                        color: var(--primary-color);
                        background: transparent;
                    }
                }


                .form-control {
                    color: var(--disabled-text);
                    font-size: 16px;
                    margin: 3px 0px;

                    &::-webkit-input-placeholder {
                        /* Chrome/Opera/Safari */
                        color: rgba(0, 0, 0, 0.2) !important;
                    }

                    &::-moz-placeholder {
                        /* Firefox 19+ */
                        color: rgba(0, 0, 0, 0.2) !important;
                    }

                    &:-ms-input-placeholder {
                        /* IE 10+ */
                        color: rgba(0, 0, 0, 0.2) !important;
                    }

                    &:-moz-placeholder {
                        /* Firefox 18- */
                        color: rgba(0, 0, 0, 0.2) !important;
                    }

                    &:focus,
                    &:active {
                        outline: none !important;
                        box-shadow: none;
                        background: rgba(0, 0, 0, 0.07);
                        border-color: transparent;
                    }
                }
            }
        }

        .section-title h2 {
            font-size: 32px;

            &::before {
                height: 4px;
            }
        }
    }
}

.section-title {
    @include centerAll();
    flex-direction: column;
    padding: 10px;
    text-align: center;
    position: relative;
    max-width: 84%;
    margin: auto;

    h2 {
        font-size: 64px;
        font-weight: 800;
        margin-bottom: 30px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: -16px;
            right: 0;
            background: var(--secondary-color);
            height: 6px;
            width: 120px;
            margin: 0 auto;
        }
    }

    .section-subtitle {
        font-size: 16px;
        margin: 0 auto;
        max-width: 690px;
        color: var(--disabled-text);
    }

    span {
        color: var(--primary-color);
    }
}

.shape-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    width: 100%;
    height: 100%;

    img,
    .circle {
        position: absolute;
        z-index: -1;
        transform-style: preserve-3d;
        backface-visibility: hidden;
        display: block;
        user-select: none;
        pointer-events: none;
    }

    img {
        width: 200px;
        height: unset;

        &.blob1 {
            top: auto;
            left: auto;
            right: 200px;
            bottom: 8%;
        }

        &.blob2 {
            top: 0;
            right: auto;
            left: 270px;
            bottom: auto;
        }

        &.blob3 {
            top: 10%;
            bottom: auto;
            left: auto;
            right: 280px;
        }

        &.blob5 {
            bottom: 30px;
            left: 5%;
        }
    }

    .circle {
        border-radius: 50%;
        border: 1px solid #CAD0FA;
        bottom: 0;

        &.blob4 {
            width: 500px;
            height: 500px;
        }

    }
}

.faq-container {
    width: 800px;
    margin: 40px auto;

    .qa-wrapper {
        background: transparent;
        border-bottom: 1px #acaaaa solid;
        border-radius: 2px;
        margin-bottom: 5px;
        font-weight: 300;
        text-align: start;

        .question {
            display: block;
            width: 100%;
            padding: 15px 5px;
            font-size: 18px;
            text-align: start;
            cursor: pointer;
            border: none;
            display: flex;
            gap: 6px;

            h2 {
                font-weight: 300;
                color: var(--secondary-color);
            }

            &:hover {
                h2 {
                    color: #000;
                    transition: .5s all ease-in-out;
                }
            }
        }

        .answer {
            opacity: 0;
            height: 0px;
            color: #000000b5;
            transition: .1s all ease-in-out;

            &.show {
                padding: 16px;
                opacity: 1;
                height: fit-content;
            }
        }
    }

}

footer.page-footer {
    background: #222;
    @include centerAll();
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 90;

    .copyright-wrapper {
        padding: 28px;
        color: #999;

        a {
            color: var(--secondary-color);
        }
    }
}

@media (max-width:1200px) {
    main {
        section {
            &.banner {
                .layer {
                    font-size: 78px;
                }
            }

            &.events {
                .swiper {
                    .card {
                        width: 220px;
                        height: 330px;

                        .event-name {
                            padding: 0;
                            font-size: 22px;
                        }
                    }
                }
            }
        }

        .shape-wrapper {
            .circle.blob4 {
                width: 400px;
                height: 400px;
            }
        }
    }
}

@media (max-width:900px) {

    main {
        section {
            &.banner {
                .banner-title {
                    width: 55%;
                }

                .layer {
                    font-size: 60px;
                }
            }

            &.events {
                .swiper {
                    .card {
                        width: 160px;
                        height: 270px;

                        .event-name {
                            font-size: 18px;
                        }

                        .date {
                            font-size: 14px;
                        }
                    }
                }
            }

            &.blogs {
                .blog {
                    width: calc(50% - 20px);
                }
            }
        }

        .register-wrap {
            padding: 18px;
        }
    }

    .section-title {
        max-width: 100%;
    }
}

@media (max-width:768px) {
    main {
        section {
            &.banner {
                img {
                    &.banner-image {
                        width: 140px;
                        max-width: 140px;
                    }

                    &.banner-image04 {
                        bottom: 3%;
                        right: 10%;
                    }
                }
            }

            &.phases {
                .phase {
                    p.phase-description {
                        font-size: 14px;
                    }
                }
            }


            &.services,
            &.reasons {

                .service,
                .reason {
                    p {
                        font-size: 14px;
                    }
                }
            }

            &.events {
                .swiper {
                    .card {
                        width: 140px;
                        height: 270px;

                        .event-name {
                            font-size: 16px;
                        }

                        .date {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }

    .section-title h2 {
        font-size: 44px;
    }
}

@media (max-width:600px) {
    main {
        section {
            &.banner {
                .banner-title {
                    width: 100%;
                }

                img {
                    &.banner-image {
                        width: 110px;
                        max-width: 110px;
                    }

                    &.banner-image01 {
                        top: 13%;
                    }
                }
            }

            &.phases {
                .phase {
                    .icon {
                        font-size: 64px;
                    }

                    .phase-title {
                        font-size: 26px;
                    }
                }
            }

            &.services,
            &.reasons {
                padding: 0px;

                .services-container,
                .reasons-container {
                    gap: 10px 10px;
                    padding: 10px;
                }

                .shape-wrapper {
                    img {
                        &.blob1 {
                            right: -50px;
                            bottom: -50px;
                        }

                        &.blob2 {
                            left: 10px;
                        }
                    }
                }

                .service,
                .reason {
                    width: calc(50% - 12px);

                    p {
                        padding: 0;
                        min-height: 80px;
                    }
                }
            }

            &.events {
                .swiper {
                    padding: 20px;

                    .card {
                        width: 120px;
                        height: 250px;

                        .event-name {
                            font-size: 16px;
                        }

                        .date {
                            font-size: 12px;
                        }
                    }
                }
            }

            &.blogs {
                .card {
                    .image-container {
                        height: 180px;
                    }

                    .content {
                        padding: 12px 6px 20px;
                    }

                    .blog-title {
                        font-size: 22px;
                    }

                    .article {
                        font-size: 14px;
                    }
                }
            }

            &.videos {
                .videos-container {
                    .video {
                        width: 100%;
                    }
                }
            }
        }

        .section-title h2 {
            font-size: 36px;

            &::before {
                height: 4px;
            }
        }

    }

    .shape-wrapper {
        img {
            width: 130px;
        }
    }
}

@media (max-width:430px) {
    main {
        section {
            &.banner {
                img {
                    &.banner-image {
                        width: 90px;
                        max-width: 90px;
                    }
                }

                .layer {
                    font-size: 36px;
                }
            }

            &.phases {
                .phases-container {
                    gap: 10px;
                }

                .phase {
                    width: calc(50% - 14px);

                    .icon {
                        font-size: 56px;
                    }

                    .phase-title {
                        font-size: 22px;
                    }

                    p.phase-description {
                        font-size: 12px;
                    }
                }
            }

            &.services,
            &.reasons {

                .service,
                .reason {
                    .service-icon {
                        font-size: 64px;
                    }

                    p {
                        font-size: 12px;
                        min-height: 130px;
                    }
                }

                .shape-wrapper {
                    img {
                        &.blob1 {
                            right: -40px;
                            bottom: -30px;
                        }

                        &.blob2 {
                            top: -60px;
                        }
                    }
                }
            }

            &.events {
                .swiper {
                    padding: 4px;

                    .card {
                        width: 90px;
                        height: 190px;

                        .event-name {
                            font-size: 14px;
                        }

                        .date {
                            font-size: 10px;
                        }

                        .location {
                            font-size: 12px;
                        }
                    }
                }
            }
        }

        .register-wrap {
            form {
                .form-group.two-inputs {
                    flex-direction: column;
                    gap: 20px;

                    .text {
                        width: 100%;
                    }
                }
            }
        }
    }

    .shape-wrapper {
        img {
            width: 100px;
        }
    }
}

@media (max-width:360px) {
    main {
        section {
            &.events {
                .swiper {
                    padding: 4px;

                    .card {
                        width: 80px;
                        height: 200px;

                        .event-name {
                            font-size: 12px;
                            padding: 1px;
                        }

                        .date {
                            font-size: 8px;
                        }

                        .location {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}